html, body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-image: url(https://s32.postimg.org/ceik7pip1/Background1.jpg);
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url(https://s28.postimg.org/xgpqxeu99/Background2.jpg);
}
.background:nth-child(3) {
  background-image: url(https://s11.postimg.org/w8uznyr1f/Background3.jpg);
}

.background:nth-child(4) {
  background-image: url(https://s28.postimg.org/7l0qd9531/0228.jpg);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 4;
}

.background:nth-child(2) {
  z-index: 3;
}

.background:nth-child(3) {
  z-index: 2;
}

.background:nth-child(4) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.content-subtitle {
 margin-bottom: 30px;
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

// Button Stuff

* {
  box-sizing: border-box;
}

body-button-separator {
    margin-top: 30px;
}
a {
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.btn-draw {
  position: relative;
  display: inline-block;
  color: #ffffff;
  border-bottom: 2px solid #324577;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn-draw:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background: #324577;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.btn-draw > span {
  position: relative;
  display: block;
  padding: 0.5em;
  color: inherit;
}
.btn-draw > span:before, .btn-draw > span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: #324577;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.btn-draw > span:before {
  height: 2px;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.btn-draw > span:after {
  height: 100%;
  width: 2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.btn-draw:hover:after, .btn-draw:hover > span:before, .btn-draw:hover > span:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.btn-draw:hover:after {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.btn-draw:hover > span:before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.btn-draw:hover > span:after {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.btn-draw:hover {
  color: #e4e4e2;
  background-color: #324577;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
